body {
  margin: 10px;
  min-width: 600px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

#tool-bar {
  display: flex;
  justify-content: space-between;
}

.search-ipt {
  width: 200px;
  display: inline-block;
}

#table {
  margin-top: 10px;
}

#table thead th {
  text-align: center;
}

#table tbody td {
  vertical-align: middle;
}

#table thead th:nth-child(1) {
  width: 100px;
}

#table thead th:nth-child(2) {
  width: 144px;
}

#table thead th:nth-child(3) {
  width: 332.8px;
}

#table thead th:nth-child(4) {
  width: 286.4px;
}

#table thead th:nth-child(5) {
  width: 235.2px;
}

#table thead th:nth-child(5) {
  width: 416.8px;
}

.modal-body #label {
  width: 90px;
  text-align: center;
}

.modal-body #input {
  width: 474px;
}

.modal-body .sep {
  position: relative;
}

.modal-body .sep .icon-riqi {
  font-size: 18px;
  position: absolute;
  top: 5px;
  right: 10px;
}