body {
  margin: 10px;
  min-width: 600px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

#tool-bar {
  display: flex;
  justify-content: space-between;
}

.search-ipt {
  width: 200px;
  display: inline-block;
}

#table {
  margin-top: 10px;
}

#table thead th {
  text-align: center;
}

#table tbody td {
  vertical-align: middle;
}

.modal-body label {
  width: 90px;
  text-align: center;
}

.modal-body .name,
.modal-body .birth,
.modal-body .place,
.modal-body .telephone {
  width: 474px;
}

.modal-body .sep {
  position: relative;
}

.modal-body .sep .icon-riqi {
  font-size: 18px;
  position: absolute;
  top: 5px;
  right: 10px;
}